@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('../img/ajax-loader.gif') center center no-repeat;
}

/* Icons */
/* @font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('../font/Glyphter/glyph.eot');
    src: url('../font/Glyphter/glyph.eot?#iefix') format('embedded-opentype'), url('../font/Glyphter/glyph.woff') format('woff'), url('../font/Glyphter/glyph.ttf') format('truetype'), url('../font/Glyphter/glyph.svg#slick') format('svg');
} */
/* Arrows */
.slick-prev
{
    position: absolute;
    top: 50%;
    display: block;
    width: 50px;
    height: 50px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background-image: url('../img/prevNorm.svg');
    transition: 400ms ease;
}
.slick-next
{
    position: absolute;
    top: 50%;
    display: block;
    width: 50px;
    height: 50px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background-image: url('../img/nextNorm.svg');
    transition: 400ms ease;
}
.slick-prev:hover
{
    color: transparent;
    outline: none;
    background-image: url('../img/prevOver.svg');
}

.slick-next:hover
{
    color: transparent;
    outline: none;
    background-image: url('../img/nextOver.svg');
}

.slick-prev
{
    left: 25px;
    z-index: 500;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-next
{
    right: 25px;
    z-index:500;}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: 25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{ content: '●';
    opacity: .7;
    color: rgba( 78 , 214 , 226 , 1 );
}
.slick-dots li button:before
{ 
    font-family: 'slick';
    font-size: 30px;
    line-height: 30px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '●';
    text-align: center;

    opacity: .25;
    color: black;
    transition:color 400ms ease;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: rgba( 78 , 214 , 226 , 1 );
}
