<!-- Talk -->
<div class="talk-main">
    <div class="talk-panel">
        <div class="talk-container">
            <div class="talk-header ">
                <div class="mobile-back-chat icon-left btn-taint"></div>
                <div class="user-talk-header btn-taint">
                    <div class="photo-container-talk">
                        <div class="talk-photo"></div>
                    </div>
                    <div class="user-name-talk"><span>Masoud Nourbakhsh</span></div>
                </div>
                <div id-modal="idRemoveChat" class="remove-chat-tool" modal-btn="show">
                    <span class="icon-trashfill"></span>
                </div>
            </div>
            <div class="talk-base overlay-scroll">
                <div class="talk-inside-container">
                    <!-- Member Bubble -->
                    <div class="received-bubble">
                        <div class="bubble-container">
                            <div class="bubble-text">
                                <span> Ok, i’ll send the prescriptions tomorrow.</span>
                            </div>
                            <div class="bubble-detail">
                                <span class="status"></span>
                                <span class="time">6:23 pm</span>
                            </div>
                        </div>
                        <div class="bubble-check">
                            <div class="bubble-checkbox">
                                <div class="bubble-checkbox-select">
                                    <span class="bubble-checkbox-icon icon-check"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Member Bubble -->
                    <div class="received-bubble">
                        <div class="bubble-container">
                            <div class="bubble-text">
                                <span>Thanks for headup ;)</span>
                            </div>
                            <div class="bubble-detail">
                                <span class="status"></span>
                                <span class="time">6:23 pm</span>
                            </div>
                        </div>
                        <div class="bubble-check">
                            <div class="bubble-checkbox">
                                <div class="bubble-checkbox-select">
                                    <span class="bubble-checkbox-icon icon-check"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Admin Bubble -->
                    <div class="sent-bubble">
                        <div class="bubble-container">
                            <div class="bubble-text">
                                <span>You’re welcome. </span>
                            </div>
                            <div class="bubble-detail">
                                <span class="status icon-delivered"></span>
                                <span class="time">6:23 pm</span>
                            </div>
                        </div>
                        <div class="bubble-check">
                            <div class="bubble-checkbox">
                                <div class="bubble-checkbox-select">
                                    <span class="bubble-checkbox-icon icon-check"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Admin Bubble -->
                    <div class="sent-bubble">
                        <div class="bubble-container">
                            <div class="bubble-text">
                                <span>I’m going to check your temperature and your pulse. You may need an antibiotic if you have an infection.It seems you have some inflammation in your knees. However, there's nothing broken. Just take some ibuprofen or aspirin and the swelling should go down.OK, I’m going to check your temperature and your pulse. You may need an antibiotic if you have an infection.</span>
                            </div>
                            <div class="bubble-detail">
                                <span class="status icon-delivered"></span>
                                <span class="time">6:23 pm</span>
                            </div>
                        </div>
                        <div class="bubble-check">
                            <div class="bubble-checkbox">
                                <div class="bubble-checkbox-select">
                                    <span class="bubble-checkbox-icon icon-check"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Member Bubble -->
                    <div class="received-bubble">
                        <div class="bubble-container">
                            <div class="bubble-text">
                                <span>Thanks for headup ;)</span>
                            </div>
                            <div class="bubble-detail">
                                <span class="status icon-delivered"></span>
                                <span class="time">6:23 pm</span>
                            </div>
                        </div>
                        <div class="bubble-check">
                            <div class="bubble-checkbox">
                                <div class="bubble-checkbox-select">
                                    <span class="bubble-checkbox-icon icon-check"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Member Bubble -->
                    <div class="received-bubble">
                        <div class="bubble-container">
                            <div class="bubble-text">
                                <span>I’m going to check your temperature and your pulse. You may need an antibiotic if you have an infection.It seems you have some inflammation in your knees. However, there's nothing broken. Just take some ibuprofen or aspirin and the swelling should go down.OK, I’m going to check your temperature and your pulse. You may need an antibiotic if you have an infection.</span>
                            </div>
                            <div class="bubble-detail">
                                <span class="status"></span>
                                <span class="time">6:23 pm</span>
                            </div>
                        </div>
                        <div class="bubble-check">
                            <div class="bubble-checkbox">
                                <div class="bubble-checkbox-select">
                                    <span class="bubble-checkbox-icon icon-check"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Member Bubble - Attached -->
                    <div class="received-bubble">
                        <div class="bubble-attach">
                            <div class="bubble-file-attach">
                                <img src="img/nik2.png">
                            </div>
                            <div class="bubble-text-attach">
                                <span>Thanks for headup ;) </span>
                            </div>
                            <div class="bubble-detail-attach">
                                <span class="status icon-delivered"></span>
                                <span class="time">6:23 pm</span>
                            </div>
                        </div>
                        <div class="bubble-check">
                            <div class="bubble-checkbox">
                                <div class="bubble-checkbox-select">
                                    <span class="bubble-checkbox-icon icon-check"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Admin Bubble - Attached -->
                    <div class="sent-bubble">
                        <div class="bubble-attach">
                            <div class="bubble-file-attach">
                                <img src="img/nik.png">
                            </div>
                            <div class="bubble-text-attach">
                                <span>Thanks for headup ;) </span>
                            </div>
                            <div class="bubble-detail-attach">
                                <span class="status icon-delivered"></span>
                                <span class="time">6:23 pm</span>
                            </div>
                        </div>
                        <div class="bubble-check">
                            <div class="bubble-checkbox">
                                <div class="bubble-checkbox-select">
                                    <span class="bubble-checkbox-icon icon-check"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="back-last-talk-container">
                <div class="back-last-talk icon-down">
                    <div class="last-talk-badge-container">
                        <span class="last-talk-badge-span">11</span>
                    </div>
                </div>
            </div>
            <div class="type-base">
                <div id-modal="idChatUpload" class="attach-container" modal-btn="show">
                    <div class="attach-btn btn-taint icon-attach"></div>
                </div>
                {% include 'chat/chat-talk-main-panel-emoji-container.html' %}
                <div class="type-sep"></div>
                <div class="type-input-base">
                    <form>
                        <input id="idChatInput" class="type-input" required="">
                        <label class="label-type-input"> Write a message...</label>
                    </form>
                </div>
                <div class="type-send-container">
                    <div class="send-btn btn-taint icon-send"></div>
                </div>
            </div>
        </div>
    </div>
</div>