{% load i18n %}
<!-- Chat Upload Modal -->
<div id="idChatUpload" class="custom-modal">
    <div class="modal-chat-upload">
        <div class="chat-upload-header"><span>{% trans "Send File" %}</span></div>
        <div class="chat-upload-img-container">
            <div class="chat-upload-img"></div>
        </div>
        <div class="chat-upload-caption">
            <form>
                <div class="Caption-input">
                    <input class="Caption-inputbox" type="text" required="" tabindex="1">
                    <label class="Caption-label">{% trans "Caption" %}</label>
                    <label class="Caption-border"></label>
                </div>
            </form>
        </div>
        <div class="submit-chat-upload">
            <div class="text-submit-btn-container " modal-close>
                <div class="text-submit-btn btn-taint"><span class="fs-22 clr-red icon-close"></span></div>
            </div>
            <div class="text-submit-btn-sep"></div>
            <div class="text-submit-btn-container ">
                <div class="text-submit-btn btn-taint"><span class="fs-22 clr-cyan icon-check"></span></div>
            </div>
        </div>
    </div>
</div>