{% load static %}
<div class="float-emoji-container">
    <div class="float-emoji-btn btn-taint icon-emoji"></div>
    <div class="float-emoji-base">
        <div class="float-emoji-wrapper">
            <div class="emoji" style="background-image: url({% static 'img/emoji/Eyes-only.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Grin-1.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Grin-2.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Grin-3.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Smile.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Sad-1.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Sad-3.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Frown-1.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Frown-2.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Surprised-sad.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Surprised-sad raised brows.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Sad-with frown.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Surprised-raised brows.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Surprised.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Angry-1.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Angry-2.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Delightful.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Not-impressed.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Smirk.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Wink.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Heart-Eyes.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Kiss-Heart.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Kiss.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Kiss-Happy Eyes.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Disappointed.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Doh.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Blushing-1.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Jazz-Hands.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Dead.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Yelling.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Sigh.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Tongue-Out 1.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Tongue-Out 2.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Tongue-Out 3.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Tongue-Out 4.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Eyes-Up.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Eyes-Open.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Sigh-2.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Angel.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Nervous-Smile.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Grin-Drop.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Tired-Drop.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Tear-1.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Headache-1.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Headache-2.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Spooky.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Laughing-Tears.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Wiping-Tear.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Sunglasses.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Zzz.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Nurse.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Crying.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Wounded.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Dollar-Eyes.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Pondering.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Ill.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Zipped.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Geek.png' %});"></div>
            <div class="emoji" style="background-image: url({% static 'img/emoji/Hrumph.png' %});"></div>
        </div>
    </div>
</div>