{% load static %}
<div class="emoji-container">
    <div class="emoji-btn btn-taint icon-emoji"></div>
    <div class="emoji-base">
        <div class="emoji-wrapper">
            <div class="emoji" value="😁">😁</div>
            <div class="emoji" value="😂">😂</div>
            <div class="emoji" value="😃">😃</div>
            <div class="emoji" value="😄">😄</div>
            <div class="emoji" value="😅">😅</div>
            <div class="emoji" value="😆">😆</div>
            <div class="emoji" value="😉">😉</div>
            <div class="emoji" value="😊">😊</div>
            <div class="emoji" value="😋">😋</div>
            <div class="emoji" value="😌">😌</div>
            <div class="emoji" value="😍">😍</div>
            <div class="emoji" value="😏">😏</div>
            <div class="emoji" value="😒">😒</div>
            <div class="emoji" value="😓">😓</div>
            <div class="emoji" value="😔">😔</div>
            <div class="emoji" value="😖">😖</div>
            <div class="emoji" value="😘">😘</div>
            <div class="emoji" value="😚">😚</div>
            <div class="emoji" value="😜">😜</div>
            <div class="emoji" value="😝">😝</div>
            <div class="emoji" value="😞">😞</div>
            <div class="emoji" value="😠">😠</div>
            <div class="emoji" value="😡">😡</div>
            <div class="emoji" value="😢">😢</div>
            <div class="emoji" value="😣">😣</div>
            <div class="emoji" value="😤">😤</div>
            <div class="emoji" value="😥">😥</div>
            <div class="emoji" value="😨">😨</div>
            <div class="emoji" value="😩">😩</div>
            <div class="emoji" value="😪">😪</div>
            <div class="emoji" value="😱">😱</div>
            <div class="emoji" value="😷">😷</div>
            <div class="emoji" value="🙏">🙏</div>
            <div class="emoji" value="🙀">🙀</div>
            <div class="emoji" value="😿">😿</div>
            <div class="emoji" value="😾">😾</div>
            <div class="emoji" value="😽">😽</div>
            <div class="emoji" value="😼">😼</div>
            <div class="emoji" value="😻">😻</div>
            <div class="emoji" value="😺">😺</div>
            <div class="emoji" value="😹">😹</div>
            <div class="emoji" value="🙋">🙋</div>
            <div class="emoji" value="🙍">🙍</div>
            <div class="emoji" value="🙇">🙇</div>
            <div class="emoji" value="🙆">🙆</div>
            <div class="emoji" value="🙎">🙎</div>
            <div class="emoji" value="✊">✊</div>
            <div class="emoji" value="✌">✌</div>
            <div class="emoji" value="✋">✋</div>
            <div class="emoji" value="🚑">🚑</div>
            <div class="emoji" value="🚒">🚒</div>
            <div class="emoji" value="🚭">🚭</div>

        </div>
    </div>
</div>