{% load i18n %}
<!-- Remove Chat Modal -->
<div id="idRemoveChat" class="custom-modal">
    <div class="modal-remove-doc">
        <div class="modal-message">{% trans "Are you sure about removing this Conversation(s)?" %}</div>
        <div class="submit-remove-doc">
            <div class="cancel-btn-container">
                <div class="cancel-btn" tabindex="1" modal-close></div>
            </div>
            <div class="ok-btn-container">
                <div class="ok-btn" tabindex="1"></div>
            </div>
        </div>
    </div>
</div>