<!-- News -->
            <div class="news-wrapper">
                <div class="news-container">
                    <div class="news-header">
                        <div class="icon-news-header icon-newsfill"></div>
                        <div class="title-news">News</div>
                    </div>
                    <div class="news-base">
                        <div class="news-list-container">
                            <div class="news-list">
                                <div class="icon-header-news-list icon-timefill"></div>
                                <div class="title-header-news-list">News History</div>
                            </div>
                            <div class="base-news-list overlay-scroll">
                                <!-- <div class="news-detial">
                                    <div class="photo-container-news-detail">
                                        <div class="photo-news-detail"></div>
                                    </div>
                                    <div class="content-container-news-detail">
                                        <div class="title-news-detail"><span>
                                        November 17th World Pregnant Immigration Day</span></div>
                                        <div class="content-news-detail"><span>Preterm infants are one of the main causes of mortality in them. Problems such as respiratory distress syndrome, chronic diseases of the lung, cerebrovascular haemorrhage, long term mental and neurological complications, necrotizing enterocolitis, impaired sensory nervous development disorders, impotence, jaundice, and  can affect premature infants.</span> </div>
                                        <div class="time-news-detail"><span class="icon-time-news icon-time"></span><span>22 june 2017 | 9:35</span></div>
                                    </div>
                                </div>
                                <div class="news-detial">
                                    <div class="photo-container-news-detail">
                                        <div class="photo-news-detail" style="background-image: url(' img/news/news2.jpg');"></div>
                                    </div>
                                    <div class="content-container-news-detail">
                                        <div class="title-news-detail"><span>
                                       Participation of the Nikan Hospital Group with the Department of Roof Engineering Development in the reconstruction of earthquake areas</span></div>
                                        <div class="content-news-detail"><span>Nikan Hospital Group and Roam Engineering Development Group in pursuit of their social responsibility after the completion of the project to build a children's training center in the 20th District of Tehran (Ray Town), in collaboration with the Iliya Charity Foundation, are planning to help rebuild earthquake areas. Kermanshah Province will build 20 residential units and one educational unit in the areas and provide them with public access. The construction of these units will take place as soon as possible and subject to retrofitting standards.</span> </div>
                                        <div class="time-news-detail"><span class="icon-time-news icon-time"></span><span>22 june 2017 | 9:35</span></div>
                                    </div>
                                </div>
                                <div class="news-detial">
                                    <div class="photo-container-news-detail">
                                        <div class="photo-news-detail" style="background-image: url(' img/news/news3.jpg');"></div>
                                    </div>
                                    <div class="content-container-news-detail">
                                        <div class="title-news-detail"><span>
                                       Encourage the ICU head nurse at the hospital's executive committee</span></div>
                                        <div class="content-news-detail"><span>Nikan Hospital Group and Roam Engineering Development Group in pursuit of their social responsibility after the completion of the project to build a children's training center in the 20th District of Tehran (Ray Town), in collaboration with the Iliya Charity Foundation, are planning to help rebuild earthquake areas. Kermanshah Province will build 20 residential units and one educational unit in the areas and provide them with public access. The construction of these units will take place as soon as possible and subject to retrofitting standards.</span> </div>
                                        <div class="time-news-detail"><span class="icon-time-news icon-time"></span><span>22 june 2017 | 9:35</span></div>
                                    </div>
                                </div> -->
                            </div>
                            <div id-modal="idAddNews" class="btn-new-doc-container " modal-btn="show">
                                <div class="btn-new-doc btn-taint"></div>
                            </div>
                        </div>
                        <div class="news-view-container">
                            <div class="news-view-header">
                                <div class="title-news-view">November 17th World Pregnant Immigration Day</div>
                                <div class="time-news-view">22 june 2017 | 9:35</div>
                            </div>
                            <div class="news-view-base overlay-scroll">
                                <div class="photo-news-view-container"><div class="photo-news"></div></div>
                                <div class="text-news-view-container"><span>
                                    Preterm infants are one of the main causes of mortality in them. Problems such as respiratory distress syndrome, chronic diseases of the lung, cerebrovascular haemorrhage, long term mental and neurological complications, necrotizing enterocolitis, impaired sensory nervous development disorders, impotence, jaundice, and  can affect premature infants.<br>
                                    Nikan Hospital Group and Roam Engineering Development Group in pursuit of their social responsibility after the completion of the project to build a children's training center in the 20th District of Tehran (Ray Town), in collaboration with the Iliya Charity Foundation, are planning to help rebuild earthquake areas. Kermanshah Province will build 20 residential units and one educational unit in the areas and provide them with public access. The construction of these units will take place as soon as possible and subject to retrofitting standards.<br>
                                    Nikan Hospital Group and Roam Engineering Development Group in pursuit of their social responsibility after the completion of the project to build a children's training center in the 20th District of Tehran (Ray Town), in collaboration with the Iliya Charity Foundation, are planning to help rebuild earthquake areas. Kermanshah Province will build 20 residential units and one educational unit in the areas and provide them with public access. The construction of these units will take place as soon as possible and subject to retrofitting standards.<br>
                                </span></div>
                            </div>
                            <!-- <textarea></textarea> -->
                        </div>
                    </div>
                </div>
            </div>