{% extends "common/index.html" %} {% load static %} {% block IndexCss %}
<!-- No Additional Css files in Comparison to index needed. -->{% endblock %}
<!-- Title Block -->
{% block title %} | Calender{% endblock %}
<!-- After Side Nav Block Objects in index.html -->
{% block after_side_nav_content %}
<!-- Calendar -->
{% include 'calendar/calendar-after-sidenave-calendar-wrapper.html' %}{% endblock %}
<!-- After mobile menu back Block Objects in index.html  -->
{% block menu-back-after-content %}
<!-- Show Event Modal -->
{% include 'calendar/calendar-show-event-modal.html' %}
<!-- Add Event Modal -->
{% include 'calendar/calendar-add-event-modal.html' %}
<!-- Edit Event Modal -->
{% include 'calendar/calendar-edit-event-modal.html' %}
<!-- Remove Event Modal -->
{% include 'calendar/calendar-remove-event-modal.html' %} {% endblock %}