{% extends "common/index.html" %} {% load static %} {% block IndexCss %}
<!-- No Additional Css files in Comparison to index needed. -->{% endblock %}
<!-- Title Block -->
{% block title %} | Calender{% endblock %}
<!-- After Side Nav Block Objects in index.html -->
{% block after_side_nav_content %}
<!-- Calendar -->
{% include 'calendar/calendar-after-sidenave-calendar-wrapper.html' %}{% endblock %}
<!-- After mobile menu back Block Objects in index.html  -->
{% block menu-back-after-content %}
<!-- Show Event Modal -->
{% include 'calendar/calendar-show-event-modal.html' %}
<!-- Add Event Modal -->
{% include 'calendar/calendar-add-event-modal.html' %}
<!-- Edit Event Modal -->
{% include 'calendar/calendar-edit-event-modal.html' %}
<!-- Remove Event Modal -->
{% include 'calendar/calendar-remove-event-modal.html' %} {% endblock %}{% block EndJavascript %}
<script type="text/javascript">
$(document).ready(function() {
    Calendar('', '', '', '', '');
    SendData("GET", '/calendar/eventtypes/', '', Bind, ErrorManagement, 'CalendarGetData');
    $('#form1').submit(function(event) {
        // do stuff
        event.preventDefault();
        //var context = '{{context}}';
        var title = $("#calendar_input_title").val();
        var start_time = $("#calendar_input_start_time").val();
        var end_time = $("#calendar_input_end_time").val();
        var date = $(".date-header-event-list").attr('value');
        var note = $("#calendar_text_event_note").val();
        data = {
            'title': title,
            'start_time': start_time,
            'end_time': end_time,
            'date': date,
            'note': note,
        }
        SendData("POST", 'addevents/', data, Bind, ErrorManagement, 'CalendarForm');
        return false;
        if ($(this).attr('id') == '#index-hidden-form') {

        } else {

        }

    });
});
</script>
{% endblock %}