<!-- Calendar -->
<div class="calendar-wrapper">
    <div class="calendar-container">
        <div class="calendar-header">
            <div class="icon-calendar-header icon-calendarfill"></div>
            <div class="title-calendar">Calendar</div>
        </div>
        <div class="calendar-base">
            <div class="calendar-table-container">
                <div class="calendar-table-header">
                    <div class="month-selector">
                        <div id="calendar_prev_month" class="prev-month btn-taint icon-left" month_link={{ previous_month }}></div>
                    </div>
                    <div class="month-selector">
                        <div id="calendar_next_month" class="next-month btn-taint icon-right" month_link={{ next_month }}></div>
                    </div>
                    <div class="month-title">November 2017</div>
                    <div class="today-selector">
                        <div class="today-btn btn-taint">Today</div>
                    </div>
                </div>
                <div class="calendar-table-base overlay-scroll">
                    {{ calendar }}
                </div>
            </div>
            <div class="calendar-event-container">
                <div class="header-event-list">
                    <div class="icon-header-event-list icon-alarm"></div>
                    <div class="date-header-event-list">3 November 2017</div>
                </div>
                <div class="base-event-list">
                    <div class="overlay-scroll" style="height: 100%">
                        <div class="event-detial" id-modal="idShowEvent" modal-btn="show">
                            <div class="event-type-detail icon-labfill"></div>
                            <div class="event-time-detail w-30"><span>10 am - 11:30 am</span></div>
                            <div class="event-title-detail w-50"><span>Design A Priscription schdl for Dr. Farmani</span></div>
                            <div class="edit-event-detail-btn icon-edit" id-modal="idEditEvent" modal-btn="show"></div>
                            <div class="remove-event-detail-btn icon-close" id-modal="idRemoveEvent" modal-btn="show"></div>
                        </div>
                        <div class="event-detial" id-modal="idShowEvent" modal-btn="show">
                            <div class="event-type-detail icon-labfill"></div>
                            <div class="event-time-detail w-30"><span>12 pm - 16:30 am</span></div>
                            <div class="event-title-detail w-50"><span>Design A Priscription schdl for Dr. Farmani</span></div>
                            <div class="edit-event-detail-btn icon-edit" id-modal="idEditEvent" modal-btn="show"></div>
                            <div class="remove-event-detail-btn icon-close" id-modal="idRemoveEvent" modal-btn="show"></div>
                        </div>
                    </div>
                </div>
                <div id-modal="idAddEvent" class="btn-new-doc-container " modal-btn="show">
                    <div class="btn-new-doc btn-taint"></div>
                </div>
            </div>
        </div>
    </div>
</div>