 {% load static io %} {% load i18n %}
<!-- Header -->
<div class="header">
    <div class="nav">
        <div class="logo">
            <div class="burger">
                <!-- <div class="burger-line-top"></div> -->
                <!-- <div class="burger-line-mid"></div> -->
                <!-- <div class="burger-line-btm"></div> -->
            </div>
        </div>
        <div class="title">
            <span class="span1">{% trans "Admin" %}</span>
            <span class="span2">{% trans "Dashboard" %}</span>
        </div>
    </div>
    <div class="page">
        <div class="pattern"></div>
        <div id="idHeaderLangContainer" class="lang-container">
            <span class="lang-name" lang_code="{{LANGUAGE_CODE}}">{% get_current_language as LANGUAGE_CODE %} {{LANGUAGE_CODE|upper}}</span>
            <div id="idLangExpander" class="lang-expander"></div>
        </div>
        <div id="idLangPanel" class="lang-panel" visible="false">
            <div id="idLangPanelContainer" class="lang-panel-container">
                <a href="" rel="fa" class="lang-option">
                            <span>فا</span>
                        </a> {% get_language_info_list for LANGUAGES as languages %} {% for language in languages %} {% language lang_code %}
                <a class="lang-option" href="" rel="{{ language.code }}"><span>{{ language.code|title }}</span></a> {% endlanguage %} {% endfor %}
            </div>
        </div>
        <div id="idHeaderUserContainer" class="user-container">
            <div class="seprator"></div>
            <div class="photo" style="background-image: url('{% amir_profile_pic user_uuid False %}')"></div>
            <span class="username">
                        <div class="overflow-ellipsis" style="max-width: 80px;">
                            <!-- {% trans "Username" %}  -->
                            <!-- {{ user.get_username }} -->
                            {{ user.username }}
                        </div>
                    </span>
            <div id="idUserPanelExpander" class="expander"></div>
        </div>
        <div id="idUserPanel" class="user-panel" visible="false">
            <div id="idUserPanelContainer" class="container">
                <div class="photo" style="background-image: url('{% amir_profile_pic user_uuid False %}')"></div>
                <div class="detail">
                    <span class="username">
                                <div class="overflow-ellipsis" style="max-width: 400px;">
                                   <!-- {% trans "Username" %}  -->
                                   <!-- {{ user.get_username }} -->
                                   {{ user.username }}
                                </div>
                            </span>
                    <span class="position">{% trans "Position/Title" %}</span>
                </div>
            </div>
            <div id="idLogoutContainer" class="logout-container">
                <a href="{% url 'logout' %}">
                    <div id="idLogoutButton" class="logout-button btn-taint">{% trans "Log Out" %}</div>
                </a>
            </div>
        </div>
    </div>
</div>