{% load static %} {% load i18n %}
<!-- Side Nav -->
<div class="sidemenu">
    <div class="base">
        <a href="{% url 'dashboard' %}">
            <div class="column active">
                <span class="icon icon-dashboard"></span>
                <span class="title">{% trans "Admin Dashboard" %} </span>
            </div>
        </a>
        <a href="{% url 'member' %}">
            <div class="column">
                <span class="icon icon-member"></span>
                <span class="title">{% trans "Members" %} </span>
            </div>
        </a>
        <a href="{% url 'chat' %}">
            <div class="column">
                <span class="icon icon-chat"></span>
                <span class="title">{% trans "Chat" %}  </span>
                <div class="badge-container">
                    <div class="badge bg-yellow">
                        <span class="badgeSpan"> 11 </span>
                    </div>
                </div>
            </div>
        </a>
        <div class="column">
            <span class="icon icon-message"></span>
            <span class="title">{% trans "Messages" %} </span>
            <div class="badge-container">
                <div class="badge bg-red">
                    <span class="badgeSpan"> 3 </span>
                </div>
            </div>
        </div>
        <a href="{% url 'calendar:calendar_get' %}">
            <div class="column">
                <span class="icon icon-calendar"></span>
                <span class="title">{% trans "Calendar" %} </span>
                <div class="badge-container">
                    <div class="badge bg-blue">
                        <span class="badgeSpan"> 125 </span>
                    </div>
                </div>
            </div>
        </a>
        <a href="{% url 'news' %}">
            <div class="column">
                <span class="icon icon-news"></span>
                <span class="title">{% trans "News" %} </span>
                <div class="badge-container">
                    <div class="badge bg-cyan">
                        <span class="badgeSpan"> 6 </span>
                    </div>
                </div>
            </div>
        </a>
        <a href="{% url 'maintenance' %}">
            <div class="column">
                <span class="icon icon-setting"></span>
                <span class="title">{% trans "Maintenance" %} </span>
            </div>
        </a>
    </div>
</div>