{% load i18n %}
<!-- Mobile Menu -->
<div class="mobile-menu-back">
    <div class="mobile-menu-base">
        <a href="dashboard.html">
            <div class="column active">
                <span class="icon icon-dashboard"></span>
                <span class="title"> {% trans "Admin Dashboard" %}</span>
            </div>
        </a>
        <a href="members.html">
            <div class="column">
                <span class="icon icon-member"></span>
                <span class="title"> {% trans "Members" %}</span>
            </div>
        </a>
        <a href="chats.html">
            <div class="column">
                <span class="icon icon-chat"></span>
                <span class="title"> {% trans "Chat" %} </span>
                <div class="badge-container">
                    <div class="badge bg-yellow">
                        <span class="badgeSpan"> 11 </span>
                    </div>
                </div>
            </div>
        </a>
        <div class="column">
            <span class="icon icon-message"></span>
            <span class="title"> {% trans "Messages" %}</span>
            <div class="badge-container">
                <div class="badge bg-red">
                    <span class="badgeSpan"> 3 </span>
                </div>
            </div>
        </div>
        <a href="calendar.html">
            <div class="column">
                <span class="icon icon-calendar"></span>
                <span class="title"> {% trans "Calendar" %}</span>
                <div class="badge-container">
                    <div class="badge bg-blue">
                        <span class="badgeSpan"> 125 </span>
                    </div>
                </div>
            </div>
        </a>
        <a href="news.html">
            <div class="column">
                <span class="icon icon-news"></span>
                <span class="title">{% trans "News" %}</span>
                <div class="badge-container">
                    <div class="badge bg-cyan">
                        <span class="badgeSpan"> 6 </span>
                    </div>
                </div>
            </div>
        </a>
        <a href="maintenance.html">
            <div class="column">
                <span class="icon icon-setting"></span>
                <span class="title"> {% trans "Maintenance" %}</span>
            </div>
        </a>
    </div>
</div>