<!-- Modal Remove User -->
<div id="idRemoveUser" class="custom-modal">
    <div class="modal-remove-user">
        <div class="header-remove-user">
            <div class="photo-container"></div>
        </div>
        <div class="remove-user-info">
            <div class="remove-warning">Are you sure about removing this user?</div>
            <div class="remove-user-info-content overlay-scroll">
                <div class="remove-user-info-padding"></div>
                <div class="remove-user-detail">
                    <span class="remove-user-title">{{form_user.first_name.label}}First Name</span>
                    <span id="remove-user-info-firstname" class="remove-user-subtitle">{{form_user.first_name.value|default_if_none:""}}</span>
                </div>
                <div class="remove-user-detail">
                    <span class="remove-user-title">{{form_user.last_name.label}}</span>
                    <span id="remove-user-info-lastname" class="remove-user-subtitle">{{form_user.last_name.value|default_if_none:""}}</span>
                </div>
                <div class="remove-user-detail">
                    <span class="remove-user-title">{{form_profile.birthdate.label}}</span>
                    <span id="remove-user-info-birthdate" class="remove-user-subtitle">{{form_profile.birthdate.value|default_if_none:""}}</span>
                </div>
                <div class="remove-user-detail">
                    <span class="remove-user-title">{{form_profile.gender.label}}</span>
                    <span id="remove-user-info-gender" class="remove-user-subtitle">{{form_profile.gender.value|default_if_none:""}}</span>
                </div>
                <div class="remove-user-detail">
                    <span class="remove-user-title">{{form_user.email.label}}</span>
                    <span id="remove-user-info-email" class="remove-user-subtitle">{{form_user.email.value|default_if_none:""}}</span>
                </div>
                <div class="remove-user-detail">
                    <span class="remove-user-title">{{form_profile.mobile.label}}</span>
                    <span id="remove-user-info-mobile" class="remove-user-subtitle">{{form_profile.mobile.value|default_if_none:""}}</span>
                </div>
                <div class="remove-user-detail">
                    <span class="remove-user-title">{{form_profile.address.label}}</span>
                    <span id="remove-user-info-address" class="remove-user-subtitle">No6-3th west allay-Motahari blvd-Payambar west-Sattari Highway-{{form_profile.address.value|default_if_none:""}}-Iran</span>
                </div>
                <div class="remove-user-detail">
                    <span class="remove-user-title">{{form_member.membership.lable}}</span>
                    <span id="remove-user-info-membership" class="remove-user-subtitle">{{form_member.membership.value|default_if_none:""}}</span>
                </div>
                <div class="remove-user-detail">
                    <span class="remove-user-title">{{form_member.code.lable}}</span>
                    <span id="remove-user-info-code" class="remove-user-subtitle">{{form_member.code.value|default_if_none:""}}</span>
                </div>
                <div class="remove-user-detail">
                    <span class="remove-user-title">User Type</span>
                    <span id="remove-user-info-prefix" class="remove-user-subtitle"> Patient<br>Supervisor</span>
                </div>
            </div>
        </div>
        <div class="submit-remove-user">
            <div class="text-submit-btn-container " modal-close>
                <div class="text-submit-btn btn-taint"><span class="fs-22 clr-cyan icon-close"></span></div>
            </div>
            <div class="text-submit-btn-sep"></div>
            <div class="text-submit-btn-container ">
                <div class="text-submit-btn btn-taint"><span class="fs-22 clr-red icon-check"></span></div>
            </div>
        </div>
    </div>
</div>