<!-- Modal Edit User -->
<div id="idEditUser" class="custom-modal">
    <div class="modal-add-user">
        <div class="header-add-user">
            <div class="text-header-add-user"><span>Edit User</span></div>
        </div>
        <div class="add-user-top">
            <div class="add-user-input">
                {% if form_user.first_name.errors %}
                <div class="doc-no-field-error">
                    <span class="no-field-title clr-red">Please correct the following errors and try again:</span>
                    <ul class="no-field-error">
                        <li class="no-field-detail clr-red"><span>•&#32;</span>Name must not be in other language than English.</li>
                        <li class="no-field-detail clr-red"><span>•&#32;</span>Home Address must be in Tehran.</li>
                        <li class="no-field-detail clr-red"><span>•&#32;</span>Not a valid phone number</li>
                    </ul>
                </div>
                {% endif %}
                <div id="edit-user-input-wrapper" class="add-user-input-wrapper overlay-scroll">
                    <div class="doc-no-field-error-fake"></div>
                    <form id="edit_form" user_id="" action="{% url 'maintenance_edit_user'%}" method="POST" enctype="multipart/form-data">
                        <div class="custom-input">
                            <div class="input-label">
                                <label>First Name</label>
                            </div>
                            <div class="input-box">
                                <input id="maintenance_first_name_id_edit" type="text" name="first_name" required="" tabindex="1">
                            </div>
                        </div>
                        <div class="custom-input">
                            <div class="input-label">
                                <label>Last Name</label>
                            </div>
                            <div class="input-box">
                                <input id="maintenance_last_name_id_edit" type="text" name="last_name" required="" tabindex="1">
                            </div>
                        </div>
                        <div class="custom-input">
                            <div class="input-label">
                                <label>Birth Date</label>
                            </div>
                            <div class="input-box">
                                <input id="maintenance_birthdate_id_edit" type="text" name="birthdate" required="" tabindex="1">
                            </div>
                        </div>
                        <div class="custom-toggle">
                            <div class="toggle-container">
                                <div class="toggle-title">Gender</div>
                                <input id="idGender2" name="gender" type="checkbox">
                                <div class="toggle-option-first">Female</div>
                                <label class="toggle-btn-base" tabindex="1" for="idGender2">
                                    <div class="toggle-btn"></div>
                                </label>
                                <div class="toggle-option-second">Male</div>
                            </div>
                        </div>
                        <div class="custom-input">
                            <div class="input-label">
                                <label>Email</label>
                            </div>
                            <div class="input-box">
                                <input id="maintenance_email_id_edit" name="email" type="email" name="date" required="" tabindex="1">
                            </div>
                            <div class="input-validation">example@mail.com</div>
                        </div>
                        <div class="custom-input">
                            <div class="input-label">
                                <label>Phone</label>
                            </div>
                            <div class="input-box">
                                <input id="maintenance_mobile_id_edit" name="mobile" type="text" required="" tabindex="1">
                            </div>
                        </div>
                        <div class="custom-input">
                            <div class="input-label">
                                <label>Address</label>
                            </div>
                            <div class="input-box">
                                <input id="maintenance_address_id_edit" name="address" type="text" name="date" required="" tabindex="1">
                            </div>
                        </div>
                        <div class="field-error clr-red">
                            <ul>
                                <li>Address most be in Tehran</li>
                                <li>Street name is too short</li>
                            </ul>
                        </div>
                        <div class="custom-input">
                            <div class="input-label">
                                <label>Membership Type</label>
                            </div>
                            <div class="input-box">
                                <select id="maintenance_membership_type_id_edit" name="membership">
                                    <option value="gold">Gold</option>
                                    <option value="silver">Silver</option>
                                    <option value="bronze">Bronze</option>
                                </select>
                            </div>
                        </div>
                        <div class="custom-input">
                            <div class="input-label">
                                <label>Membership ID</label>
                            </div>
                            <div class="input-box">
                                <input id="maintenance_member_code_id_edit" name="code" type="text" name="date" required="" tabindex="1">
                            </div>
                        </div>
                        <div class="custom-check">
                            <div class="check-label">
                                <label>User Type</label>
                            </div>
                            <div class="check-option-base">
                                <label class="check-box">
                                    <div class="check-box-select">
                                        <span class="check-box-icon icon-check"></span>
                                    </div>
                                </label>
                                <div class="check-box-title">Patient</div>
                            </div>
                            <div class="check-option-base">
                                <label class="check-box">
                                    <div class="check-box-select">
                                        <span class="check-box-icon icon-check"></span>
                                    </div>
                                </label>
                                <div class="check-box-title">Physician</div>
                            </div>
                            <div class="check-option-base">
                                <label class="check-box">
                                    <div class="check-box-select">
                                        <span class="check-box-icon icon-check"></span>
                                    </div>
                                </label>
                                <div class="check-box-title">Supervisor</div>
                            </div>
                        </div>
                    </form>
                    <div class="add-user-input-padding"></div>
                </div>
            </div>
            <div class="add-user-sep"></div>
            <div class="add-user-photo-editor ">
                <div class="news-photo-editor-container ">
                    <div id="news-photo-editor-edit" class="news-photo-editor" style="background-image: url();"></div>
                    <div class="news-edit-btn-wrapper">
                        <div class="news-edit-btn-container">
                            <div title="Browse">
                                <input preview="news-photo-editor-edit" style="padding-left: 0.5em;" id="files2" accept=".jpg,.png,.bmp" class="news-edit-btn  btn-taint icon-browse" type="file" name="date" required="" tabindex="1" multiple />
                            </div>
                        </div>
                        <div class="news-edit-btn-container">
                            <div id="idRotateLeft" class="news-edit-btn  btn-taint icon-rotateleft" title="Rotate left" tabindex="1"></div>
                        </div>
                        <div class="news-edit-btn-container">
                            <div id="idRotateRight" class="news-edit-btn  btn-taint icon-rotateright" title="Rotate Right" tabindex="1"></div>
                        </div>
                        <div class="news-edit-btn-container">
                            <div id="idNoPhoto" class="news-edit-btn  btn-taint icon-trash" title="Clear Photo" tabindex="1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="submit-add-user">
            <div class="text-submit-btn-container " modal-close>
                <div class="text-submit-btn btn-taint"><span class="fs-22 clr-red icon-close"></span></div>
            </div>
            <div class="text-submit-btn-sep"></div>
            <div class="text-submit-btn-container ">
                <button form="edit_form" type="submit" class="text-submit-btn btn-taint"><span class="fs-22 clr-cyan icon-check"></span></button>
            </div>
        </div>
    </div>
</div>