<!-- Maintenance Users -->
<div class="maintenance-content">
    <div class="maintenance-content-container">
        <div class="maintenance-content-header">
            <!-- Maintenance Search Header Form -->
            {% include 'member/maintenance-user-form-header-search.html' %}
        </div>
        <div class="maintenance-users-list overlay-scroll">
            <!-- Maintenance Users Base Information -->
            {% include 'member/maintenance-user-info-fields-base.html' %}
        </div>
        <div id-modal="idAddUser" class="btn-new-doc-container " modal-btn="show">
            <div class="btn-new-doc btn-taint">
            </div>
        </div>
    </div>
</div>