{% load i18n %}
<form class="maintenance-search">
    <input id="idSearchBoxMember" type="text" name="search" required="" tabindex="-1" autocomplete="off">
    <label>{% trans "Search" %}</label>
    <div class="maintenance-input-box">
        <select class="maintenance-search-select">
            <option value="gold">All Users</option>
            <option value="silver">Supervisors</option>
            <option value="bronze">Experts</option>
            <option value="bronze">Doctors</option>
            <option value="bronze">Nurses</option>
            <option value="bronze">Suppliers</option>
            <option value="bronze">Patients</option>
        </select>
    </div>
</form>