<!-- Modal Edit User -->
<div id="idEditUser" class="custom-modal">
    <div class="modal-add-user">
        <div class="header-add-user">
            <div class="text-header-add-user"><span>Edit User</span></div>
        </div>
        <div class="add-user-top">
            <div class="add-user-input">
                <div class="doc-no-field-error">
                    <span class="no-field-title clr-red">Please correct the following errors and try again:</span>
                    <ul class="no-field-error">
                        <li class="no-field-detail clr-red"><span>•&#32;</span>Name must not be in other language than English.</li>
                        <li class="no-field-detail clr-red"><span>•&#32;</span>Home Address must be in Tehran.</li>
                        <li class="no-field-detail clr-red"><span>•&#32;</span>Not a valid phone number</li>
                    </ul>
                </div>
                <div class="add-user-input-wrapper overlay-scroll">
                    <div class="doc-no-field-error-fake"></div>
                    <form>
                        <div class="custom-input">
                            <div class="input-label">
                                <label>First Name</label>
                            </div>
                            <div class="input-box">
                                <input type="text" name="date" required="" tabindex="1">
                            </div>
                        </div>
                        <div class="custom-input">
                            <div class="input-label">
                                <label>Last Name</label>
                            </div>
                            <div class="input-box">
                                <input type="text" name="date" required="" tabindex="1">
                            </div>
                        </div>
                        <div class="custom-input">
                            <div class="input-label">
                                <label>Birth Date</label>
                            </div>
                            <div class="input-box">
                                <input type="text" name="date" required="" tabindex="1">
                            </div>
                        </div>
                        <div class="custom-toggle">
                            <div class="toggle-container">
                                <div class="toggle-title">Gender</div>
                                <input id="idGender2" type="checkbox">
                                <div class="toggle-option-first">Female</div>
                                <label class="toggle-btn-base" tabindex="1" for="idGender2">
                                    <div class="toggle-btn"></div>
                                </label>
                                <div class="toggle-option-second">Male</div>
                            </div>
                        </div>
                        <div class="custom-input">
                            <div class="input-label">
                                <label>Email</label>
                            </div>
                            <div class="input-box">
                                <input type="text" name="date" required="" tabindex="1">
                            </div>
                            <div class="input-validation">example@mail.com</div>
                        </div>
                        <div class="custom-input">
                            <div class="input-label">
                                <label>Phone</label>
                            </div>
                            <div class="input-box">
                                <input type="text" name="date" required="" tabindex="1">
                            </div>
                        </div>
                        <div class="custom-input">
                            <div class="input-label">
                                <label>Address</label>
                            </div>
                            <div class="input-box">
                                <input type="text" name="date" required="" tabindex="1">
                            </div>
                        </div>
                        <div class="field-error clr-red">
                            <ul>
                                <li>Address most be in Tehran</li>
                                <li>Street name is too short</li>
                            </ul>
                        </div>
                        <div class="custom-input">
                            <div class="input-label">
                                <label>Membership Type</label>
                            </div>
                            <div class="input-box">
                                <select>
                                    <option value="gold">Gold</option>
                                    <option value="silver">Silver</option>
                                    <option value="bronze">Bronze</option>
                                </select>
                            </div>
                        </div>
                        <div class="custom-input">
                            <div class="input-label">
                                <label>Membership ID</label>
                            </div>
                            <div class="input-box">
                                <input type="text" name="date" required="" tabindex="1">
                            </div>
                        </div>
                        <div class="custom-check">
                            <div class="check-label">
                                <label>User Type</label>
                            </div>
                            <div class="check-option-base">
                                <label class="check-box">
                                    <div class="check-box-select">
                                        <span class="check-box-icon icon-check"></span>
                                    </div>
                                </label>
                                <div class="check-box-title">Patient</div>
                            </div>
                            <div class="check-option-base">
                                <label class="check-box">
                                    <div class="check-box-select">
                                        <span class="check-box-icon icon-check"></span>
                                    </div>
                                </label>
                                <div class="check-box-title">Physician</div>
                            </div>
                            <div class="check-option-base">
                                <label class="check-box">
                                    <div class="check-box-select">
                                        <span class="check-box-icon icon-check"></span>
                                    </div>
                                </label>
                                <div class="check-box-title">Supervisor</div>
                            </div>
                        </div>
                    </form>
                    <div class="add-user-input-padding"></div>
                </div>
            </div>
            <div class="add-user-sep"></div>
            <div class="add-user-photo-editor ">
                <div class="news-photo-editor-container ">
                    <div class="news-photo-editor"></div>
                    <div class="news-edit-btn-wrapper">
                        <div class="news-edit-btn-container">
                            <div class="news-edit-btn  btn-taint icon-browse" title="Browse" tabindex="1"></div>
                        </div>
                        <div class="news-edit-btn-container">
                            <div class="news-edit-btn  btn-taint icon-rotateleft" title="Rotate left" tabindex="1"></div>
                        </div>
                        <div class="news-edit-btn-container">
                            <div class="news-edit-btn  btn-taint icon-rotateright" title="Rotate Right" tabindex="1"></div>
                        </div>
                        <div class="news-edit-btn-container">
                            <div class="news-edit-btn  btn-taint icon-trash" title="Clear Photo" tabindex="1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="submit-add-user">
            <div class="text-submit-btn-container " modal-close>
                <div class="text-submit-btn btn-taint"><span class="fs-22 clr-red icon-close"></span></div>
            </div>
            <div class="text-submit-btn-sep"></div>
            <div class="text-submit-btn-container ">
                <div class="text-submit-btn btn-taint"><span class="fs-22 clr-cyan icon-check"></span></div>
            </div>
        </div>
    </div>
</div>