<!-- Maintenance panel -->
<div class="content-wrapper">
    <div class="maintenance-panel">
        <div class="header-maintenance">
            <div class="icon-header-maintenance icon-settingfill"></div>
            <span class="title-header-maintenance">Maintenance</span>
            <div class="header-correct-maintenance"></div>
        </div>
        <div class="menu-base-maintenance overlay-scroll">
            <div class="column">
                <div class="main">
                    <div class="icon"></div>
                    <div class="title">
                        Users
                    </div>
                    <div class="expander">
                    </div>
                </div>
            </div>
            <div class="seperator"></div>
            <div class="column">
                <div class="main">
                    <div class="icon"></div>
                    <div class="title">
                        Prefixes
                    </div>
                    <div class="expander">
                        <span class="icon-right"></span>
                    </div>
                </div>
                <div class="submenu">
                    <div class="item">
                        <span>● Titles</span>
                    </div>
                    <div class="item">
                        <span>● Branches</span>
                    </div>
                    <div class="item">
                        <span>● Laboratories</span>
                    </div>
                </div>
            </div>
            <div class="seperator"></div>
            <div class="column">
                <div class="main">
                    <div class="icon"></div>
                    <div class="title">
                        Categories
                    </div>
                    <div class="expander">
                        <span class="icon-right"></span>
                    </div>
                </div>
                <div class="submenu">
                    <div class="item">
                        <span>● Member Documents</span>
                    </div>
                </div>
            </div>
            <div class="seperator"></div>
        </div>
    </div>
</div>