<!-- Modal Remove User -->
<div id="idRemoveUser" class="custom-modal">
    <div class="modal-remove-user">
        <div class="header-remove-user">
            <div class="photo-container"></div>
        </div>
        <div class="remove-user-info">
            <div class="remove-warning">Are you sure about removing this user?</div>
            <div class="remove-user-info-content overlay-scroll">
                <div class="remove-user-info-padding"></div>
                <div class="remove-user-detail">
                    <span class="remove-user-title">First Name</span>
                    <span class="remove-user-subtitle">Masoud</span>
                </div>
                <div class="remove-user-detail">
                    <span class="remove-user-title">Last Name</span>
                    <span class="remove-user-subtitle">Nourbakhsh</span>
                </div>
                <div class="remove-user-detail">
                    <span class="remove-user-title">Birth Date</span>
                    <span class="remove-user-subtitle">10/06/1986</span>
                </div>
                <div class="remove-user-detail">
                    <span class="remove-user-title">Gender</span>
                    <span class="remove-user-subtitle">Male</span>
                </div>
                <div class="remove-user-detail">
                    <span class="remove-user-title">Email</span>
                    <span class="remove-user-subtitle">masoud.nourbakhsh@gmail.com</span>
                </div>
                <div class="remove-user-detail">
                    <span class="remove-user-title">Phone</span>
                    <span class="remove-user-subtitle">+989126335847</span>
                </div>
                <div class="remove-user-detail">
                    <span class="remove-user-title">Address</span>
                    <span class="remove-user-subtitle">No6-3th west allay-Motahari blvd-Payambar west-Sattari Highway-Tehran-Iran</span>
                </div>
                <div class="remove-user-detail">
                    <span class="remove-user-title">Membership</span>
                    <span class="remove-user-subtitle">Gold</span>
                </div>
                <div class="remove-user-detail">
                    <span class="remove-user-title">ID</span>
                    <span class="remove-user-subtitle">253498-58</span>
                </div>
                <div class="remove-user-detail">
                    <span class="remove-user-title">User Type</span>
                    <span class="remove-user-subtitle"> Patient<br>Supervisor</span>
                </div>
            </div>
        </div>
        <div class="submit-remove-user">
            <div class="text-submit-btn-container " modal-close>
                <div class="text-submit-btn btn-taint"><span class="fs-22 clr-cyan icon-close"></span></div>
            </div>
            <div class="text-submit-btn-sep"></div>
            <div class="text-submit-btn-container ">
                <div class="text-submit-btn btn-taint"><span class="fs-22 clr-red icon-check"></span></div>
            </div>
        </div>
    </div>
</div>