{% load i18n %}
<!-- Members Information Content -->
<div class="info">
    <div class="container">
        <div class="photo-container">
            <div class="photo" id-modal="idChangePhoto" modal-btn="show">
                <div class="change-overlay">{% trans "change" %}</div>
            </div>
        </div>
        <div class="detail-container" user_id="">
            <span id-modal="idMemberInfo" class="detail-bold" modal-btn="show">Masoud Nourbakhsh</span>
            <span class="detail">{% trans "Title / Position" %}</span>
            <span class="detail">{% trans "Male" %} | 28</span>
            <span class="detail">{% trans "Gold Membership" %}</span>
        </div>
    </div>
    <div class="member-options">
        <div id="editUserInfoModal" class="member-option-btn btn-modal icon-editfill" id-modal="idEditMember" modal-btn="show"></div>
        <div id="idFloatCalendarLoader" class="member-option-btn icon-calendarfill"></div>
        <div id="idFloatChatLoader" class="member-option-btn icon-chatfill"></div>
    </div>
</div>