<!-- Modal Member Info -->
<div id="idMemberInfo" class="custom-modal">
    <div class="modal-member-info">
        <div class="header-member-info">
            <div class="photo-container"></div>
        </div>
        <div class="member-info-container">
            <div class="member-info-content">
                <div class="member-info-content-wrapper overlay-scroll">
                    <div class="member-info-padding"></div>
                    <div class="member-info-detail">
                        <span class="member-info-title">First Name</span>
                        <span class="member-info-subtitle">Masoud</span>
                    </div>
                    <div class="member-info-detail">
                        <span class="member-info-title">Last Name</span>
                        <span class="member-info-subtitle">Nourbakhsh</span>
                    </div>
                    <div class="member-info-detail">
                        <span class="member-info-title">Birth Date</span>
                        <span class="member-info-subtitle">10/06/1986</span>
                    </div>
                    <div class="member-info-detail">
                        <span class="member-info-title">Gender</span>
                        <span class="member-info-subtitle">Male</span>
                    </div>
                    <div class="member-info-detail">
                        <span class="member-info-title">Email</span>
                        <span class="member-info-subtitle">masoud.nourbakhsh@gmail.com</span>
                    </div>
                    <div class="member-info-detail">
                        <span class="member-info-title">Phone</span>
                        <span class="member-info-subtitle">+989126335847</span>
                    </div>
                    <div class="member-info-detail">
                        <span class="member-info-title">Address</span>
                        <span class="member-info-subtitle">No6-3th west allay-Motahari blvd-Payambar west-Sattari Highway-Tehran-Iran</span>
                    </div>
                    <div class="member-info-detail">
                        <span class="member-info-title">Membership</span>
                        <span class="member-info-subtitle">Gold</span>
                    </div>
                    <div class="member-info-detail">
                        <span class="member-info-title">ID</span>
                        <span class="member-info-subtitle">253498-58</span>
                    </div>
                    <div class="member-info-detail">
                        <span class="member-info-title">User Type</span>
                        <span class="member-info-subtitle"> Patient<br>Supervisor</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="submit-member-info">
            <div class="text-submit-btn-container " modal-close>
                <div class="text-submit-btn btn-taint"><span class="fs-22 clr-cyan icon-check"></span></div>
            </div>
        </div>
    </div>
</div>