<!-- Modal Large Carousel -->
<div id="idMemberLargeCarousel" class="custom-modal">
    <div class="modal-large-carousel">
        <div class="doc-carousel">
            <div id="focal1" class="large-carousel-cell">
                <div id="panzoom1" class="large-carousel-img "></div>
            </div>
            <div id="focal2" class="large-carousel-cell">
                <div id="panzoom2" class="large-carousel-img "></div>
            </div>
            <div id="focal3" class="large-carousel-cell">
                <div id="panzoom3" class="large-carousel-img "></div>
            </div>
        </div>
    </div>
</div>