<!-- Change Photo -->
<div id="idChangePhoto" class="custom-modal">
    <div class="modal-change-photo">
        <div class="header-change-photo">
            <div class="icon-header-change-photo"></div>
            <div class="text-header-change-photo">change photo of <span>Tahmine Molaei</span></div>
        </div>
        <form id="changeUserPhotoModal" action="{% url 'change_user_photo'%}" method="Post" enctype="multipart/form-data" class="photo-editor-container">
            <div class="photo-editor" style="background-image: url();"></div>
            <div class="edit-btn-wrapper">
                <div class="edit-btn-container">
                    <input id="personal_photo_change" preview="photo-editor" class="edit-btn btn-taint icon-browse" type="file" accept=".jpg,.png,.bmp" style="padding-left: 0.5em;" title="Browse" tabindex="1">
                </div>
                <div class="edit-btn-container">
                    <div class="edit-btn  btn-taint icon-rotateleft" title="Rotate left" tabindex="1"></div>
                </div>
                <div class="edit-btn-container">
                    <div class="edit-btn  btn-taint icon-rotateright" title="Rotate Right" tabindex="1"></div>
                </div>
                <div class="edit-btn-container">
                    <div class="edit-btn  btn-taint icon-trash" title="Clear Photo" tabindex="1"></div>
                </div>
            </div>
        </form>
        <div class="submit-change-photo">
            <div class="text-submit-btn-container " modal-close>
                <div id="closeChangeUserPhotoModal" class="text-submit-btn btn-taint"><span class="fs-22 clr-red icon-close"></span></div>
            </div>
            <div class="text-submit-btn-sep"></div>
            <div name="submit" class="text-submit-btn-container ">
                <button type="submit" form="changeUserPhotoModal" class="text-submit-btn btn-taint"><span class="fs-22 clr-cyan icon-check"></span></button>
            </div>
        </div>
    </div>
</div>