<!-- Remove Doc Modal -->
<div id="idRemoveDoc" class="custom-modal">
    <div class="modal-remove-doc">
        <div class="modal-message">Are you sure about removing this field?</div>
        <div class="submit-remove-doc">
            <div class="cancel-btn-container">
                <div class="cancel-btn" tabindex="1" modal-close></div>
            </div>
            <div class="ok-btn-container">
                <div class="ok-btn" tabindex="1"></div>
            </div>
        </div>
    </div>
</div>