{% load i18n %}
<!-- Docs Content -->
<!-- Member detail -->
<div id="MemberDetailHistory" style="display: none;" class="docs-main">
    <div class="member-docs">
        <div class="doc-container">
            <div class="doc-header">
                <div class="mobile-back-member icon-left btn-taint"></div>
                <div class="doc-header-icon">
                    <span class="icon-timefill"></span>
                </div>
                <span class="doc-header-title">{% trans "Member History" %}</span>
            </div>
            <div class="doc-content">
                <div class="doc-history">
                    <div class="doc-history-header">
                        <div class="doc-history-header-icon icon-medicinesfill"></div>
                        <div class="doc-history-header-title">{% trans "Medical History" %}</div>
                    </div>
                    <div class="doc-medic-history overlay-scroll">
                        <div class="history-section">
                            <div class="history-section-title-container">
                                <div class="history-section-title">
                                    {% trans "Chief Complaint" %}
                                </div>
                                <div id-modal="idEditHistory" class="history-section-editor icon-edit" modal-btn="show"></div>
                            </div>
                            <div class="section-sep-container">
                                <div class="section-sep1"></div>
                                <div class="section-sep2"></div>
                                <div class="section-sep3"></div>
                                <div class="section-sep4"></div>
                            </div>
                            <div class="section-content-container">
                                {% trans "Check Up" %}
                            </div>
                        </div>
                        <!-- <div class="history-section">
                            <div class="history-section-title-container">
                                <div class="history-section-title">
                                    {% trans "Past Medical History" %}
                                </div>
                                <div id-modal="idEditHistory" class="history-section-editor icon-edit" modal-btn="show"></div>
                            </div>
                            <div class="section-sep-container">
                                <div class="section-sep1"></div>
                                <div class="section-sep2"></div>
                                <div class="section-sep3"></div>
                                <div class="section-sep4"></div>
                            </div>
                            <div class="section-content-container">
                                • HTM
                                <br>• DM
                                <br>• IHD
                                <br>• HLP
                                <br>• PUD
                            </div>
                        </div>
                        <div class="history-section">
                            <div class="history-section-title-container">
                                <div class="history-section-title">
                                    {% trans "Drug History" %}
                                </div>
                                <div id-modal="idEditHistory" class="history-section-editor icon-edit" modal-btn="show"></div>
                            </div>
                            <div class="section-sep-container">
                                <div class="section-sep1"></div>
                                <div class="section-sep2"></div>
                                <div class="section-sep3"></div>
                                <div class="section-sep4"></div>
                            </div>
                            <div class="section-content-container">
                                Patient has no drug usage history.
                            </div>
                        </div>
                        <div class="history-section">
                            <div class="history-section-title-container">
                                <div class="history-section-title">
                                    {% trans "Family History" %}
                                </div>
                                <div id-modal="idEditHistory" class="history-section-editor icon-edit" modal-btn="show"></div>
                            </div>
                            <div class="section-sep-container">
                                <div class="section-sep1"></div>
                                <div class="section-sep2"></div>
                                <div class="section-sep3"></div>
                                <div class="section-sep4"></div>
                            </div>
                            <div class="section-content-container">
                                • HTM
                                <br>• DM
                                <br>• IHD
                                <br>• HLP
                            </div>
                        </div>
                        <div class="history-section">
                            <div class="history-section-title-container">
                                <div class="history-section-title">
                                    {% trans "Checkup Tests" %}
                                </div>
                                <div id-modal="idEditHistory" class="history-section-editor icon-edit" modal-btn="show"></div>
                            </div>
                            <div class="section-sep-container">
                                <div class="section-sep1"></div>
                                <div class="section-sep2"></div>
                                <div class="section-sep3"></div>
                                <div class="section-sep4"></div>
                            </div>
                            <div class="section-content-container">
                                • Lab Tests | • Lab Tests ECG | • Echo Cardiography | • CT scan | • UltraSonography(abdominal/pelvic) | • ECG | • EST| • EEG | • CT scan | • Sonography of Breasts | • Mammography | • Pap Smear
                            </div>
                        </div>
                        <div class="history-section">
                            <div class="history-section-title-container">
                                <div class="history-section-title">
                                    {% trans "Specialists Visits" %}
                                </div>
                                <div id-modal="idEditHistory" class="history-section-editor icon-edit" modal-btn="show"></div>
                            </div>
                            <div class="section-sep-container">
                                <div class="section-sep1"></div>
                                <div class="section-sep2"></div>
                                <div class="section-sep3"></div>
                                <div class="section-sep4"></div>
                            </div>
                            <div class="section-content-container">
                                Certainty listening no no behaviour existence assurance situation is. Because add why not esteems amiable him. Interested the unaffected mrs law friendship add principles. Indeed on people do merits to. Court heard which up above hoped grave do. Answer living law things either sir bed length. Looked before we an on merely. These no death he at share alone. Yet outward the him compass hearted are tedious. ﻿no purse as fully me or point. Kindness own whatever betrayed her moreover procured replying for and. Proposal indulged no do do sociable he throwing settling. Covered ten nor comfort offices carried. Age she way earnestly the fulfilled extremely. Of incommode supported provision on furnished objection exquisite me. Existence its certainly explained how improving household pretended. Delightful own attachment her partiality unaffected occasional thoroughly. Adieus it no wonder spirit houses.
                            </div>
                        </div>
                        <div class="history-section">
                            <div class="history-section-title-container">
                                <div class="history-section-title">
                                    {% trans "Lab & Pathology Results" %}
                                </div>
                                <div id-modal="idEditHistory" class="history-section-editor icon-edit" modal-btn="show"></div>
                            </div>
                            <div class="section-sep-container">
                                <div class="section-sep1"></div>
                                <div class="section-sep2"></div>
                                <div class="section-sep3"></div>
                                <div class="section-sep4"></div>
                            </div>
                            <div class="section-content-container">
                                • ESR: 34
                                <br> • FBS, 123
                                <br> • Chol 248
                                <br> • TG220
                                <br>
                                <br> pap smear: Mild Inflammatory cells. Fungal organisms consistent with Candida spp. No intraepithelial lesion or malignancy.
                            </div>
                        </div>
                        <div class="history-section">
                            <div class="history-section-title-container">
                                <div class="history-section-title">
                                    {% trans "Imaging" %}
                                </div>
                                <div id-modal="idEditHistory" class="history-section-editor icon-edit" modal-btn="show"></div>
                            </div>
                            <div class="section-sep-container">
                                <div class="section-sep1"></div>
                                <div class="section-sep2"></div>
                                <div class="section-sep3"></div>
                                <div class="section-sep4"></div>
                            </div>
                            <div class="section-content-container">
                                • EST: NC
                                <br> • CXRAY: NL
                                <br> • Abdomen pelvis Sonography: Mild fatty change in liver
                                <br> • Sonography of breasts: Echo free tubular structures with smooth margin without internal debris or solid component in favor of ductal ectasia.
                                <br> • Vaginal Sonography: NL
                                <br> • Mammography: Nodular increased density in both breasts. Small sized
                                <br>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="custom-table dr-list">
                    <div class="dr-list-header">
                        <div class="dr-list-header-icon icon-stethoscopefill"></div>
                        <div class="dr-list-header-title">{% trans "Specialists History" %}</div>
                    </div>
                    <div class="dr-list-container overlay-scroll">
                        <div class="dr-container">
                            <div class="dr-photo-container"></div>
                            <div class="dr-content">
                                <div class="dr-name">Dr. Naderi</div>
                                <div class="dr-expertise"><span class="icon-dr-brain"></span>Brain Surgeon</div>
                                <!-- <div class="dr-location"><span class="icon-locationfill"></span>Clinic</div> -->
                            </div>
                            <div class="dr-record-count"><span class="icon-browsefill"></span>34</div>
                        </div>
                        <!-- <div class="dr-container">
                            <div class="dr-photo-container"></div>
                            <div class="dr-content">
                                <div class="dr-name">Dr. Mahmoudi</div>
                                <div class="dr-expertise"><span class="icon-dr-pediatrician"></span>Pediatrician</div>
                            </div>
                            <div class="dr-record-count"><span class="icon-browsefill"></span>12</div>
                        </div>
                        <div class="dr-container">
                            <div class="dr-photo-container"></div>
                            <div class="dr-content">
                                <div class="dr-name">Dr. Ansari</div>
                                <div class="dr-expertise"><span class="icon-dr-ear"></span>Otolaryngology</div>
                            </div>
                            <div class="dr-record-count"><span class="icon-browsefill"></span>2</div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>