<!-- Change Photo -->
<div id="idChangePhoto" class="custom-modal">
    <div class="modal-change-photo">
        <div class="header-change-photo">
            <div class="icon-header-change-photo"></div>
            <div class="text-header-change-photo">change photo of <span>Tahmine Molaei</span></div>
        </div>
        <div class="photo-editor-container">
            <div class="photo-editor"></div>
            <div class="edit-btn-wrapper">
                <div class="edit-btn-container">
                    <div class="edit-btn  btn-taint icon-browse" title="Browse" tabindex="1"></div>
                </div>
                <div class="edit-btn-container">
                    <div class="edit-btn  btn-taint icon-rotateleft" title="Rotate left" tabindex="1"></div>
                </div>
                <div class="edit-btn-container">
                    <div class="edit-btn  btn-taint icon-rotateright" title="Rotate Right" tabindex="1"></div>
                </div>
                <div class="edit-btn-container">
                    <div class="edit-btn  btn-taint icon-trash" title="Clear Photo" tabindex="1"></div>
                </div>
            </div>
        </div>
        <div class="submit-change-photo">
            <div class="text-submit-btn-container " modal-close>
                <div class="text-submit-btn btn-taint"><span class="fs-22 clr-red icon-close"></span></div>
            </div>
            <div class="text-submit-btn-sep"></div>
            <div class="text-submit-btn-container ">
                <div class="text-submit-btn btn-taint"><span class="fs-22 clr-cyan icon-check"></span></div>
            </div>
        </div>
    </div>
</div>