<div id="MemberCategoryMenu" class="member-menu overlay-scroll">
    <div id="ajax_category">
        <!--
        This page works dinamically with ajax now
    -->
        <!--
        <div class="column active">
            <div class="main">
                <div class="icon icon-time"></div>
                <div class="title">
                    Member History
                </div>
                <div class="expander">
                </div>
            </div>
        </div>
        <div class="column">
            <div class="main">
                <div class="icon icon-lab"></div>
                <div class="title">
                    Laboratory & Pathology
                </div>
                <div class="expander">
                </div>
            </div>
        </div>
        <div class="column">
            <div class="main">
                <div class="icon icon-imaging"></div>
                <div class="title">
                    Imaging
                </div>
                <div class="badge-container">
                    <div class="badge  bg-yellow">
                        <span> 141 </span>
                    </div>
                </div>
                <div class="expander">
                    <span class="icon-right"></span>
                </div>
            </div>
            <div class="submenu">
                <div class="item">
                    <span>● Sonography</span>
                </div>
                <div class="item">
                    <span>● MRI</span>
                </div>
                <div class="item">
                    <span>● Radiology</span>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="main">
                <div class="icon icon-heart"></div>
                <div class="title">
                    Heart
                </div>
                <div class="badge-container">
                </div>
                <div class="expander">
                    <span class="icon-right"></span>
                </div>
            </div>
            <div class="submenu">
                <div class="item">
                    <span>● Electrocardiography</span>
                </div>
                <div class="item">
                    <span>● Echo</span>
                </div>
                <div class="item">
                    <span>● Fitness Test</span>
                </div>
                <div class="item">
                    <span>● CTA Result</span>
                </div>
                <div class="item">
                    <span>● CTA Report</span>
                </div>
                <div class="item">
                    <span>● Angioplasty</span>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="main">
                <div class="icon icon-digestive"></div>
                <div class="title">
                    Digestive System
                </div>
                <div class="badge-container">
                </div>
                <div class="expander">
                    <span class="icon-right"></span>
                </div>
            </div>
            <div class="submenu">
                <div class="item">
                    <span>● Endoscopy</span>
                </div>
                <div class="item">
                    <span>● Colonoscopy</span>
                </div>
            </div>
        </div>
        <div class="seperator"></div>
        <div class="column">
            <div class="main">
                <div class="icon icon-presc"></div>
                <div class="title">
                    Prescriptions
                </div>
                <div class="badge-container">
                </div>
                <div class="expander">
                </div>
            </div>
        </div>
        <div class="column">
            <div class="main">
                <div class="icon icon-hospital"></div>
                <div class="title">
                    Hospitalization
                </div>
                <div class="badge-container">
                </div>
                <div class="expander">
                </div>
            </div>
        </div>
        <div class="column">
            <div class="main">
                <div class="icon icon-medic"></div>
                <div class="title">
                    Medicinal schedule
                </div>
                <div class="badge-container">
                </div>
                <div class="expander">
                </div>
            </div>
        </div>
    -->
    </div>
</div>