{% load i18n %}
<!-- Modal Member Info -->
<div id="idMemberInfo" class="custom-modal">
    <div class="modal-member-info">
        <div class="header-member-info">
            <div class="photo-container"></div>
        </div>
        <div class="member-info-container">
            <div class="member-info-content">
                <div class="member-info-content-wrapper overlay-scroll">
                    <div class="member-info-padding"></div>
                    <div class="member-info-detail">
                        <span class="member-info-title">{% trans "First Name" %}</span>
                        <span class="member-info-subtitle" name="first_name">Masoud</span>
                    </div>
                    <div class="member-info-detail">
                        <span class="member-info-title">{% trans "Last Name" %}</span>
                        <span class="member-info-subtitle" name="last_name">Nourbakhsh</span>
                    </div>
                    <div class="member-info-detail">
                        <span class="member-info-title">{% trans "Birth Date" %}</span>
                        <span class="member-info-subtitle" name="birthdate">10/06/1986</span>
                    </div>
                    <div class="member-info-detail">
                        <span class="member-info-title">{% trans "Gender" %}</span>
                        <span class="member-info-subtitle" name="gender">Male</span>
                    </div>
                    <div class="member-info-detail">
                        <span class="member-info-title">{% trans "Email" %}</span>
                        <span class="member-info-subtitle" name="email">masoud.nourbakhsh@gmail.com</span>
                    </div>
                    <div class="member-info-detail">
                        <span class="member-info-title">{% trans "Phone" %}</span>
                        <span class="member-info-subtitle" name="mobile">+989126335847</span>
                    </div>
                    <div class="member-info-detail">
                        <span class="member-info-title">{% trans "Address" %}</span>
                        <span class="member-info-subtitle" name="address">No6-3th west allay-Motahari blvd-Payambar west-Sattari Highway-Tehran-Iran</span>
                    </div>
                    <div class="member-info-detail">
                        <span class="member-info-title">{% trans "Membership" %}</span>
                        <span class="member-info-subtitle" name="membership_type">Gold</span>
                    </div>
                    <div class="member-info-detail">
                        <span class="member-info-title">{% trans "ID" %}</span>
                        <span class="member-info-subtitle" name="first_name">253498-58</span>
                    </div>
                    <div class="member-info-detail">
                        <span class="member-info-title">{% trans "User Type" %}</span>
                        <span class="member-info-subtitle" name="prefix"> Patient<br>Supervisor</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="submit-member-info">
            <div class="text-submit-btn-container " modal-close>
                <div class="text-submit-btn btn-taint"><span class="fs-22 clr-cyan icon-check"></span></div>
            </div>
        </div>
    </div>
</div>